.pointer{
	cursor: pointer;
}

.fa{
	background-color: aliceblue;
	color: black;
	padding: 3px;
	border-radius: 2px;
	margin: 2px;
}

.todo-done{
	text-decoration: line-through;
	color: green;
}

.todo-title{
	margin-left: 10px;
}