<!DOCTYPE html>
<html>
<head>
	<title>ToDo</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <div class="container">
    	<h1 class="text-center">To Do App</h1>

		<div class="form-group">
  			<label for="new-todo">New:</label>
  			<input type="text" class="form-control" id="new-todo">
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">Remaining todos</div>
  			<div class="panel-body" id="allToDos">
			</div>
		</div>
		
    </div><!-- /.container -->

	<script id="todo-item" type="text/template">
		<% if (done) { %>
			<li class="list-group-item list-group-item-success">
		<% } else { %>
			<li class="list-group-item list-group-item-danger">
		<% } %>

		<h4 class="list-group-item-heading">
			<input type="checkbox" class="toggle" <%= done ? "checked" : "" %> >
			<span contenteditable="true" class="todo-title"><%=title%></span>
			<span class="glyphicon glyphicon-floppy-open save"></span>
			<% if (done) { %>
			<span class="glyphicon glyphicon-trash delete"></span>
			<% } %>
		</h4>
		<p class="mb-1">
			Created: <%= new Date(created) %> </br>
			Modified: <%= new Date(modified) %>
		</p>
		</li>
	</script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="js/model/ToDo.js"></script>
	<script src="js/collection/allToDos.js"></script>
	<script src="js/view/viewToDo.js"></script>
	<script src="js/view/viewAllToDos.js"></script>
	<script src="js/todoApp.js"></script>
</body>
</html>